---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
      <img width={720} height={360} src={"/placeholder-social.jpg"} alt="" />
			<h1>Hey! Welcome to my <span id="grad_title" class="very_cool_animation">blog</span> :D</h1>
			<p>
			  Welcome to my personal blog where I talk about stuff. I really can't tell you exactly what
        I will talk about on this website but it's going to be mostly development related stuff and
        maybe a <italic>slight</italic> glimpse of my life.
			</p>
      <p>
        To learn more about me and what I do, go to the <a href="./about">"About Me"</a> page.
      </p>
		</main>
		<Footer />
	</body>
  <script>
    const d = new Date();
    const day = d.getDate();
    const month = d.getMonth();
    if (day === 1 && month === 4) {
      const div = document.getElementById("grad_title");
      div.style.background = "url('https://s.yimg.com/os/creatr-uploaded-images/2021-02/572c4830-721d-11eb-bb63-96959c3b62f2')"
    }

    console.log("Current Day:", day);
    console.log("Current Month:", month);

  </script>
  <style>
    @keyframes scroll_gradient {
      to {
        background-position: 200%; 
      }
    }
    .very_cool_animation {
      background: rgb(125,177,255);
      background: linear-gradient(90deg,rgb(125, 177, 255) 0%,rgb(204, 0, 255) 25%,rgb(255, 0, 212) 50%,rgb(204, 0, 255) 65%,rgb(125, 177, 255) 100%);
      background-size: 200% auto;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      color: transparent;
      animation: scroll_gradient 10s ease-in-out infinite alternate;
    }
  </style> 
</html>
